# Shared infrastructure (used by docker compose at repo root)

# Database
DB_NAME=postgres-db
DB_USER=postgres
DB_PASSWORD=<password>

# Nginx
NGINX_PORT=80 # External port, 80 is convention

# Web, needed in root because env_file only affects running container, and by then the build dir is already mounted
VITE_API_URL=<api-prefix>
