# JWT
JWT_SECRET=<your-JWT-secret-key>
JWT_ALGORITHM=<your-JWT-algorithm>
ACCESS_TOKEN_EXPIRE_MINUTES=60 # Optional (will default to 60)


# Cookies
ACCESS_COOKIE_NAME=<your-cookie-name>
COOKIE_SECURE=False # True in production
COOKIE_SAMESITE=<your-cookie-samesite> # Optional (will default to None)
COOKIE_DOMAIN=<your-cookie-domain> # Optional (will default to None)


# CORS - comma-separated origins
CORS_ORIGINS=http://localhost # Change to domain name in prod
